.fullContent
{
   	padding: 0;
   	position : absolute !important;
   	top : 0px !important; 
   	right : 0;
   	bottom : 0px !important; 
   	left : 0 !important;
}
.background-content
{
	background: rgba(1,47,59,1);
	background: -moz-linear-gradient(top, rgba(1,47,59,1) 0%, rgba(2,68,84,1) 59%, rgba(1,88,110,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,47,59,1)), color-stop(59%, rgba(2,68,84,1)), color-stop(100%, rgba(1,88,110,1)));
	background: -webkit-linear-gradient(top, rgba(1,47,59,1) 0%, rgba(2,68,84,1) 59%, rgba(1,88,110,1) 100%);
	background: -o-linear-gradient(top, rgba(1,47,59,1) 0%, rgba(2,68,84,1) 59%, rgba(1,88,110,1) 100%);
	background: -ms-linear-gradient(top, rgba(1,47,59,1) 0%, rgba(2,68,84,1) 59%, rgba(1,88,110,1) 100%);
	background: linear-gradient(to bottom, rgba(1,47,59,1) 0%, rgba(2,68,84,1) 59%, rgba(1,88,110,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012f3b', endColorstr='#01586e', GradientType=0 );
}
.bottomFooter
{
	bottom:0; 
	position: fixed !important; 
	/*top: auto !important;*/
	width:100%;
	/*padding-top: 10px; /*Footer blank space fix*/
}
div.error{
	font-size: small;
}
input:required:invalid, input:focus:invalid{
	box-shadow: rgba(24,189,230,.20) 3px 3px 10px 5px inset !important;
}
/*
For iOS place:

div[data-role='header'][data-position='fixed']{
	padding-top:20px;
}
div[data-role='header'][data-position='fixed'] a[tag='a']{
    margin-top:20px;
}

div[data-role='panel']{
	margin-top:19px;
}
*/


